# Data Import & Cleaning

In [1]:
# import dependencies
import requests
import json
import pprint
import pandas as pd
from api_keys import api_key

In [2]:
# api call
url = f"https://api.waqi.info/v2/map/bounds?latlng=50.10319,-7.64133,60.15456,1.75159&networks=all&token={api_key}"
response = requests.get(url)
data = response.json()

In [3]:
# printing json
data

{'status': 'ok',
 'data': [{'lat': 52.411563,
   'lon': -1.560228,
   'uid': 8913,
   'aqi': '13',
   'station': {'name': 'Coventry Allesley, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.54914,
   'lon': -2.638139,
   'uid': 3220,
   'aqi': '28',
   'station': {'name': 'Wigan Centre, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 56.124331,
   'lon': -3.141347,
   'uid': 5994,
   'aqi': '8',
   'station': {'name': 'Fife Kirkcaldy, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 55.97671,
   'lon': -3.59731,
   'uid': 6026,
   'aqi': '10',
   'station': {'name': 'West Lothian Linlithgow High Street 2, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 55.938253,
   'lon': -4.317753,
   'uid': 5981,
   'aqi': '10',
   'station': {'name': 'East Dunbartonshire Milngavie , United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.285833000178,
   'lon': -6.1319440004234,
   'uid': 13380,
   'aqi': '10',
   'station': {'name': 'Dun Laoghaire, Ireland',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.54421,
   'lon': -0.175269,
   'uid': 3166,
   'aqi': '50',
   'station': {'name': 'Camden Kerbside, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 50.73957,
   'lon': -1.826744,
   'uid': 10096,
   'aqi': '25',
   'station': {'name': 'Bournemouth, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.142082,
   'lon': -0.194181,
   'uid': 14624,
   'aqi': '21',
   'station': {'name': 'Reigate and Banstead - Poles Lane, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.48152,
   'lon': -2.237881,
   'uid': 3196,
   'aqi': '21',
   'station': {'name': 'Manchester Piccadilly, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.311838999844,
   'lon': -6.2353160004029,
   'uid': 13372,
   'aqi': '20',
   'station': {'name': 'Clonskeagh, Ireland',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 50.694352777777,
   'lon': 1.5765724414782,
   'uid': 6249,
   'aqi': '24',
   'station': {'name': 'Outreau, Nord-Pas-de-Calais, France',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.520787459334,
   'lon': 0.20546070569404,
   'uid': 7947,
   'aqi': '15',
   'station': {'name': 'Havering - Rainham, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.48481,
   'lon': -2.334139,
   'uid': 3208,
   'aqi': '25',
   'station': {'name': 'Salford Eccles, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 54.24634,
   'lon': -6.961403,
   'uid': 13391,
   'aqi': '7',
   'station': {'name': 'Monaghan Town, Ireland',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 52.20843,
   'lon': 0.141521,
   'uid': 3225,
   'aqi': '-',
   'station': {'name': 'Cambridge Newmarket Road, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.02821,
   'lon': -2.175133,
   'uid': 3215,
   'aqi': '20',
   'station': {'name': 'Stoke-on-Trent Centre, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.99356,
   'lon': -7.3628,
   'uid': 13370,
   'aqi': '7',
   'station': {'name': 'Cavan Town, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 56.319444,
   'lon': -3.014167,
   'uid': 5992,
   'aqi': '7',
   'station': {'name': 'Fife Cupar, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 57.481308,
   'lon': -4.241451,
   'uid': 10873,
   'aqi': '6',
   'station': {'name': 'Inverness, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 55.896909,
   'lon': -3.31966,
   'uid': 6340,
   'aqi': '9',
   'station': {'name': 'Edinburgh Currie, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.79412,
   'lon': -4.354968,
   'uid': 8046,
   'aqi': '28',
   'station': {'name': 'Glasgow Waulkmillglen Reservoir, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 53.34633,
   'lon': -2.844333,
   'uid': 3187,
   'aqi': '25',
   'station': {'name': 'Liverpool Speke, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.934357,
   'lon': -3.46919,
   'uid': 6025,
   'aqi': '14',
   'station': {'name': 'West Lothian Broxburn, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 55.944079,
   'lon': -4.734421,
   'uid': 10098,
   'aqi': '26',
   'station': {'name': 'Greenock A8 Roadside, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.6851,
   'lon': -1.8388,
   'uid': -207685,
   'aqi': '-',
   'station': {'name': 'Westgate', 'time': '2023-08-09T04:36:56+09:00'}},
  {'lat': 52.95473,
   'lon': -1.146447,
   'uid': 3200,
   'aqi': '23',
   'station': {'name': 'Nottingham Centre, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.378622,
   'lon': -1.478096,
   'uid': 5021,
   'aqi': '23',
   'station': {'name': 'Sheffield Devonshire Green, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.74032,
   'lon': -3.2983,
   'uid': 8056,
   'aqi': '13',
   'station': {'name': 'Caerphilly Fochriw, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 54.88361,
   'lon': -1.406878,
   'uid': 3217,
   'aqi': '20',
   'station': {'name': 'Sunderland Silksworth, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.9425,
   'lon': -3.281111,
   'uid': 9580,
   'aqi': '14',
   'station': {'name': "Edinburgh St John's Road, United Kingdom",
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.108,
   'lon': -6.738,
   'uid': -87253,
   'aqi': '8',
   'station': {'name': 'L6086', 'time': '2023-08-09T04:50:12+09:00'}},
  {'lat': 52.090561,
   'lon': -7.620018,
   'uid': 13381,
   'aqi': '3',
   'station': {'name': 'Dungarvan, Co. Waterford, Ireland',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 50.82881,
   'lon': -1.068583,
   'uid': 3204,
   'aqi': '20',
   'station': {'name': 'Portsmouth, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 52.132417,
   'lon': -0.300306,
   'uid': 3210,
   'aqi': '8',
   'station': {'name': 'Sandy Roadside, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.732182,
   'lon': -6.3200354,
   'uid': 14661,
   'aqi': '9',
   'station': {'name': 'Drogheda, Co. Louth, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 55.79216,
   'lon': -3.2429,
   'uid': 3159,
   'aqi': '27',
   'station': {'name': 'Auchencorth Moss, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.349142,
   'lon': -6.450329,
   'uid': 14769,
   'aqi': '14',
   'station': {'name': 'Lucan, Co. Dublin, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 50.411463,
   'lon': -4.227678,
   'uid': 3209,
   'aqi': '16',
   'station': {'name': 'Saltash Callington Road, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.036124999831,
   'lon': -7.2886750003803,
   'uid': 13399,
   'aqi': '17',
   'station': {'name': 'Portlaoise, Co. Laois, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 51.483907253348,
   'lon': 0.00040739693584974,
   'uid': 10103,
   'aqi': '26',
   'station': {'name': 'Greenwich - Trafalgar Road (Hoskins St), United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.434662706056,
   'lon': 0.06422246717047,
   'uid': 14616,
   'aqi': '6',
   'station': {'name': 'Greenwich - Fiveways Sidcup Rd A20, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 51.520894546995,
   'lon': -0.724024666515,
   'uid': 14602,
   'aqi': '12',
   'station': {'name': 'Windsor and Maidenhead - Frascati Way, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.3425,
   'lon': -7.0475,
   'uid': 14662,
   'aqi': '20',
   'station': {'name': 'Edenderry Library, Co. Offaly, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 54.821427,
   'lon': -7.453291,
   'uid': 6036,
   'aqi': '21',
   'station': {'name': 'Strabane Springhill Park, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 54.861595,
   'lon': -6.250873,
   'uid': 6029,
   'aqi': '22',
   'station': {'name': 'Ballymena Ballykeel, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 51.494648681305,
   'lon': 0.13727911123218,
   'uid': 7951,
   'aqi': '17',
   'station': {'name': 'Bexley - Belvedere West, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.410039,
   'lon': -0.127523,
   'uid': 8923,
   'aqi': '17',
   'station': {'name': 'Croydon - Norbury Manor, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.836203,
   'lon': -4.508783,
   'uid': 9583,
   'aqi': '18',
   'station': {'name': 'Renfrewshire Johnston, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 52.498500000107,
   'lon': -6.5707499997314,
   'uid': 13382,
   'aqi': '11',
   'station': {'name': 'Enniscorthy, Co. Wexford, Ireland',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.187221999756,
   'lon': -6.1216669995869,
   'uid': 5108,
   'aqi': '25',
   'station': {'name': 'Bray, Ireland', 'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 56.462383,
   'lon': -2.96739,
   'uid': 5974,
   'aqi': '10',
   'station': {'name': 'Dundee Seagate, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 52.619823,
   'lon': -1.127311,
   'uid': 4905,
   'aqi': '20',
   'station': {'name': 'Leicester University, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.788333,
   'lon': -3.986389,
   'uid': 6010,
   'aqi': '13',
   'station': {'name': 'N Lanarkshire Motherwell, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.2434,
   'lon': -1.1275,
   'uid': -125002,
   'aqi': '1',
   'station': {'name': 'IBASINGS39', 'time': '2023-08-09T04:50:04+09:00'}},
  {'lat': 51.569484331524,
   'lon': 0.082907474896495,
   'uid': 9041,
   'aqi': '20',
   'station': {'name': 'Redbridge - Ley Street, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 55.836256,
   'lon': -4.270768,
   'uid': 6002,
   'aqi': '26',
   'station': {'name': 'Glasgow Nithsdale Road, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 52.263829,
   'lon': -7.117967,
   'uid': 14770,
   'aqi': '8',
   'station': {'name': 'Merchants Quay, Waterford City, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 54.003129999895,
   'lon': -6.3926280000824,
   'uid': 14211,
   'aqi': '1',
   'station': {'name': 'Dundalk, Co. Louth, Ireland',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 54.353728,
   'lon': -6.654558,
   'uid': 6028,
   'aqi': '-',
   'station': {'name': 'Armagh Lonsdale Road, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.525156,
   'lon': -7.337529,
   'uid': 14663,
   'aqi': '-',
   'station': {'name': 'Mullingar, Co. Westmeath, Ireland',
    'time': '2023-08-02T05:00:00+09:00'}},
  {'lat': 54.569297,
   'lon': -1.220874,
   'uid': 3197,
   'aqi': '24',
   'station': {'name': 'Middlesbrough, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.991087,
   'lon': -3.941685,
   'uid': 5990,
   'aqi': '8',
   'station': {'name': 'Falkirk Haggs, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.617333,
   'lon': -0.298777,
   'uid': 3192,
   'aqi': '25',
   'station': {'name': 'London Harrow Stanmore, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 53.76559,
   'lon': -2.680353,
   'uid': 3205,
   'aqi': '24',
   'station': {'name': 'Preston, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.870766,
   'lon': -4.318448,
   'uid': 6000,
   'aqi': '14',
   'station': {'name': 'Glasgow Dumbarton Road, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 53.33,
   'lon': -6.288,
   'uid': -354841,
   'aqi': '65',
   'station': {'name': 'Aughavanagh Road',
    'time': '2023-08-09T04:49:22+09:00'}},
  {'lat': 51.666667,
   'lon': -3.194919,
   'uid': 8055,
   'aqi': '13',
   'station': {'name': 'Caerphilly Blackwood High Street, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 51.632696,
   'lon': -3.947374,
   'uid': 3218,
   'aqi': '25',
   'station': {'name': 'Swansea Roadside, United Kingdom',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 50.916932,
   'lon': -0.449548,
   'uid': 3216,
   'aqi': '23',
   'station': {'name': 'Storrington Roadside, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.601203,
   'lon': -2.977281,
   'uid': 8059,
   'aqi': '17',
   'station': {'name': 'Newport St Julians Comp School, United Kingdom',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 53.74878,
   'lon': -0.341222,
   'uid': 3181,
   'aqi': '28',
   'station': {'name': 'Hull Freetown, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.944008,
   'lon': -3.059223,
   'uid': 6339,
   'aqi': '-',
   'station': {'name': 'East Lothian Musselburgh N High St, United Kingdom',
    'time': '2023-08-08T14:00:00+09:00'}},
  {'lat': 51.374264,
   'lon': 0.54797,
   'uid': 3169,
   'aqi': '18',
   'station': {'name': 'Chatham Roadside, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 50.37167,
   'lon': -4.142361,
   'uid': 3202,
   'aqi': '17',
   'station': {'name': 'Plymouth Centre, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 51.48879,
   'lon': -0.441614,
   'uid': 3191,
   'aqi': '13',
   'station': {'name': 'London Harlington, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.149617,
   'lon': -1.438228,
   'uid': 8912,
   'aqi': '21',
   'station': {'name': 'Chilbolton Observatory, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.46008,
   'lon': -2.472056,
   'uid': 9080,
   'aqi': '27',
   'station': {'name': 'Glazebury, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.614578,
   'lon': -4.666786,
   'uid': 6012,
   'aqi': '15',
   'station': {'name': 'North Ayrshire Irvine High St, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 53.385636000137,
   'lon': -6.3699340002986,
   'uid': 13365,
   'aqi': '21',
   'station': {'name': 'Blanchardstown, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 52.5302193,
   'lon': -7.1379192,
   'uid': 14656,
   'aqi': '9',
   'station': {'name': 'Thomastown, Co. Kilkenny, Ireland',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 52.614193,
   'lon': 1.301976,
   'uid': 3199,
   'aqi': '26',
   'station': {'name': 'Norwich Lakenfields, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.552476,
   'lon': -0.258089,
   'uid': 7944,
   'aqi': '25',
   'station': {'name': 'Brent - Ikea, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 53.273135,
   'lon': -7.4966531,
   'uid': 13410,
   'aqi': '6',
   'station': {'name': 'Tullamore, Co. Offaly, Ireland',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 52.958,
   'lon': -7.47,
   'uid': -214759,
   'aqi': '5',
   'station': {'name': 'L16201', 'time': '2023-08-09T04:50:46+09:00'}},
  {'lat': 53.967513,
   'lon': -1.086514,
   'uid': 3222,
   'aqi': '22',
   'station': {'name': 'York Bootham, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.458994,
   'lon': -2.005694,
   'uid': 9049,
   'aqi': '-',
   'station': {'name': 'Tameside Mottram Moor, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 52.272257,
   'lon': -0.916605,
   'uid': 10099,
   'aqi': '30',
   'station': {'name': 'Northampton Spring Park, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.244131,
   'lon': -1.454946,
   'uid': 8911,
   'aqi': '25',
   'station': {'name': 'Chesterfield Loundsley Green, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.579656,
   'lon': -3.766465,
   'uid': 8063,
   'aqi': '46',
   'station': {'name': 'Port Talbot Prince Street 2, United Kingdom',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 55.673936,
   'lon': -3.775658,
   'uid': 8667,
   'aqi': '12',
   'station': {'name': 'South Lanarkshire Lanark, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 56.117343,
   'lon': -3.791818,
   'uid': 8668,
   'aqi': '8',
   'station': {'name': 'Alloa A907, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 52.638797999972,
   'lon': -7.268113999933,
   'uid': 14210,
   'aqi': '16',
   'station': {'name': 'Kilkenny, Ireland',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.289391,
   'lon': 0.201437,
   'uid': 14622,
   'aqi': '20',
   'station': {'name': 'Sevenoaks - Greatness Park, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.518167,
   'lon': 0.439548,
   'uid': 3213,
   'aqi': '-',
   'station': {'name': 'Stanford-le-Hope Roadside, United Kingdom',
    'time': '2023-08-08T06:00:00+09:00'}},
  {'lat': 51.744806,
   'lon': -1.260278,
   'uid': 3201,
   'aqi': '11',
   'station': {'name': 'Oxford St Ebbes, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.638094,
   'lon': -2.678731,
   'uid': 3170,
   'aqi': '5',
   'station': {'name': 'Chepstow A48, United Kingdom',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 56.399327,
   'lon': -3.434182,
   'uid': 6016,
   'aqi': '7',
   'station': {'name': 'Perth Atholl Street, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.6063,
   'lon': 0.5896,
   'uid': -109597,
   'aqi': '13',
   'station': {'name': 'Rawreth Lane', 'time': '2023-08-09T04:39:34+09:00'}},
  {'lat': 52.89670494002,
   'lon': -7.33202648189,
   'uid': -196696,
   'aqi': '2',
   'station': {'name': 'L5731', 'time': '2023-08-09T04:48:51+09:00'}},
  {'lat': 53.819972,
   'lon': -1.576361,
   'uid': 3185,
   'aqi': '25',
   'station': {'name': 'Leeds Headingley Kerbside, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 53.280541000076,
   'lon': -6.3588420002256,
   'uid': 13407,
   'aqi': '14',
   'station': {'name': 'Tallaght, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 56.036243,
   'lon': -3.417582,
   'uid': 5995,
   'aqi': '11',
   'station': {'name': 'Fife Rosyth, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 55.84581,
   'lon': -3.947346,
   'uid': 6006,
   'aqi': '10',
   'station': {'name': 'N Lanarkshire Chapelhall, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 55.464531,
   'lon': -4.631673,
   'uid': 6021,
   'aqi': '12',
   'station': {'name': 'South Ayrshire Ayr High St, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.405546,
   'lon': 0.018882,
   'uid': 14639,
   'aqi': '34',
   'station': {'name': 'Bromley - Harwood Avenue, United Kingdom',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 51.781784,
   'lon': -4.691462,
   'uid': 10680,
   'aqi': '20',
   'station': {'name': 'Narberth, United Kingdom',
    'time': '2023-08-09T04:00:00+09:00'}},
  {'lat': 55.983925,
   'lon': -3.455939,
   'uid': 6027,
   'aqi': '10',
   'station': {'name': 'West Lothian Newton, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 54.361111,
   'lon': -6.225,
   'uid': 13390,
   'aqi': '16',
   'station': {'name': 'Marino, Dublin 3, Ireland',
    'time': '2023-08-09T02:00:00+09:00'}},
  {'lat': 56.373126,
   'lon': -3.841475,
   'uid': 6017,
   'aqi': '7',
   'station': {'name': 'Perth Crieff, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 50.90814,
   'lon': -1.395778,
   'uid': 3211,
   'aqi': '18',
   'station': {'name': 'Southampton Centre, United Kingdom',
    'time': '2023-08-09T03:00:00+09:00'}},
  {'lat': 51.562376,
   'lon': -0.004898,
   'uid': 11768,
   'aqi': '30',
   'station': {'name': 'Waltham Forest Dawlish Rd, United Kingdom',
    'time': '2023-08-09T01:00:00+09:00'}},
  {'lat': 51.074793,
   'lon': -4.041924,

In [4]:
# count number of datapoints
len(data['data'])

159

In [5]:
# create dataframe
df = pd.DataFrame(data['data'])
df

,lat,lon,uid,aqi,station
0,52.411563,-1.560228,8913,13,"{'name': 'Coventry Allesley, United Kingdom', ..."
1,53.549140,-2.638139,3220,28,"{'name': 'Wigan Centre, United Kingdom', 'time..."
2,56.124331,-3.141347,5994,8,"{'name': 'Fife Kirkcaldy, United Kingdom', 'ti..."
3,55.976710,-3.597310,6026,10,{'name': 'West Lothian Linlithgow High Street ...
4,55.938253,-4.317753,5981,10,"{'name': 'East Dunbartonshire Milngavie , Unit..."
...,...,...,...,...,...
154,53.370000,-6.588000,-92452,-,"{'name': 'Carton Court', 'time': '2023-08-09T0..."
155,51.425286,-0.345606,3195,13,"{'name': 'London Teddington Bushy Park, United..."
156,51.453090,-0.944067,3206,15,"{'name': 'Reading New Town, United Kingdom', '..."
157,55.945589,-3.182186,3176,22,"{'name': 'Edinburgh St Leonards, United Kingdo..."
158,52.839722,-6.931667,13368,16,"{'name': 'Carlow Town, Ireland', 'time': '2023..."

In [7]:
# normalise the 'station' column and expand into separate columns
normalised = pd.json_normalize(df['station'])

# concatenate the normalized data with the original dataframe
df = pd.concat([df, normalised], axis=1)

# drop the original 'station' column
df.drop('station', axis=1, inplace=True)

In [8]:
df

,lat,lon,uid,aqi,name,time
0,52.411563,-1.560228,8913,13,"Coventry Allesley, United Kingdom",2023-08-09T03:00:00+09:00
1,53.549140,-2.638139,3220,28,"Wigan Centre, United Kingdom",2023-08-09T03:00:00+09:00
2,56.124331,-3.141347,5994,8,"Fife Kirkcaldy, United Kingdom",2023-08-09T01:00:00+09:00
3,55.976710,-3.597310,6026,10,"West Lothian Linlithgow High Street 2, United ...",2023-08-09T01:00:00+09:00
4,55.938253,-4.317753,5981,10,"East Dunbartonshire Milngavie , United Kingdom",2023-08-09T03:00:00+09:00
...,...,...,...,...,...,...
154,53.370000,-6.588000,-92452,-,Carton Court,2023-08-09T04:50:57+09:00
155,51.425286,-0.345606,3195,13,"London Teddington Bushy Park, United Kingdom",2023-08-09T03:00:00+09:00
156,51.453090,-0.944067,3206,15,"Reading New Town, United Kingdom",2023-08-09T03:00:00+09:00
157,55.945589,-3.182186,3176,22,"Edinburgh St Leonards, United Kingdom",2023-08-09T03:00:00+09:00
158,52.839722,-6.931667,13368,16,"Carlow Town, Ireland",2023-08-09T02:00:00+09:00

In [9]:
# split the 'time' column into 'date' and 'time'
df['date'] = df['time'].str.split('T').str[0]
df['time'] = df['time'].str.split('T').str[1].str[:-6]

In [10]:
df

,lat,lon,uid,aqi,name,time,date
0,52.411563,-1.560228,8913,13,"Coventry Allesley, United Kingdom",03:00:00,2023-08-09
1,53.549140,-2.638139,3220,28,"Wigan Centre, United Kingdom",03:00:00,2023-08-09
2,56.124331,-3.141347,5994,8,"Fife Kirkcaldy, United Kingdom",01:00:00,2023-08-09
3,55.976710,-3.597310,6026,10,"West Lothian Linlithgow High Street 2, United ...",01:00:00,2023-08-09
4,55.938253,-4.317753,5981,10,"East Dunbartonshire Milngavie , United Kingdom",03:00:00,2023-08-09
...,...,...,...,...,...,...,...
154,53.370000,-6.588000,-92452,-,Carton Court,04:50:57,2023-08-09
155,51.425286,-0.345606,3195,13,"London Teddington Bushy Park, United Kingdom",03:00:00,2023-08-09
156,51.453090,-0.944067,3206,15,"Reading New Town, United Kingdom",03:00:00,2023-08-09
157,55.945589,-3.182186,3176,22,"Edinburgh St Leonards, United Kingdom",03:00:00,2023-08-09
158,52.839722,-6.931667,13368,16,"Carlow Town, Ireland",02:00:00,2023-08-09

In [11]:
# check datatypes - aqi is currently an object type
df.dtypes

lat     float64
lon     float64
uid       int64
aqi      object
name     object
time     object
date     object
dtype: object

In [12]:
# clean the 'aqi' column by replacing non-numeric values with NaN
df['aqi'] = pd.to_numeric(df['aqi'], errors='coerce')

# drop rows with NaN values in the 'aqi' column
df.dropna(subset=['aqi'], inplace=True)

# convert the 'aqi' column to integer
df['aqi'] = df['aqi'].astype(int)

# check datatypes - aqi is now integer so ready for analysis
df.dtypes

lat     float64
lon     float64
uid       int64
aqi       int64
name     object
time     object
date     object
dtype: object

In [13]:
# final df
df

,lat,lon,uid,aqi,name,time,date
0,52.411563,-1.560228,8913,13,"Coventry Allesley, United Kingdom",03:00:00,2023-08-09
1,53.549140,-2.638139,3220,28,"Wigan Centre, United Kingdom",03:00:00,2023-08-09
2,56.124331,-3.141347,5994,8,"Fife Kirkcaldy, United Kingdom",01:00:00,2023-08-09
3,55.976710,-3.597310,6026,10,"West Lothian Linlithgow High Street 2, United ...",01:00:00,2023-08-09
4,55.938253,-4.317753,5981,10,"East Dunbartonshire Milngavie , United Kingdom",03:00:00,2023-08-09
...,...,...,...,...,...,...,...
153,52.338033,-6.462139,13413,9,"Wexford Opera House, Ireland",02:00:00,2023-08-09
155,51.425286,-0.345606,3195,13,"London Teddington Bushy Park, United Kingdom",03:00:00,2023-08-09
156,51.453090,-0.944067,3206,15,"Reading New Town, United Kingdom",03:00:00,2023-08-09
157,55.945589,-3.182186,3176,22,"Edinburgh St Leonards, United Kingdom",03:00:00,2023-08-09
158,52.839722,-6.931667,13368,16,"Carlow Town, Ireland",02:00:00,2023-08-09

In [14]:
# export to csv file
df.to_csv('data/air_pollution_data.csv', index=False)

In [15]:
# export to JSON file
with open('data/air_pollution_data.json', 'w') as json_file:
    json.dump(data, json_file, indent=4)

# Exploratory Analysis

In [18]:
# stations with lowest aqi (least polluted)
least_polluted = df.sort_values(by='aqi', ascending = True)
least_polluted.head()

,lat,lon,uid,aqi,name,time,date
54,51.243400,-1.127500,-125002,1,IBASINGS39,04:50:04,2023-08-09
58,54.003130,-6.392628,14211,1,"Dundalk, Co. Louth, Ireland",03:00:00,2023-08-09
99,52.896705,-7.332026,-196696,2,L5731,04:48:51,2023-08-09
112,51.074793,-4.041924,4903,2,"Barnstaple A39, United Kingdom",03:00:00,2023-08-09
32,52.090561,-7.620018,13381,3,"Dungarvan, Co. Waterford, Ireland",04:00:00,2023-08-09

In [19]:
# stations with highest aqi (most polluted)
most_polluted = df.sort_values(by='aqi', ascending = False)
most_polluted.head()

,lat,lon,uid,aqi,name,time,date
152,56.018951,-3.721013,5989,88,"Falkirk Grangemouth MC, United Kingdom",02:00:00,2023-08-09
66,53.330000,-6.288000,-354841,65,Aughavanagh Road,04:49:22,2023-08-09
133,51.379312,-0.281259,14619,57,"Kingston Upon Thames - Tolworth Broadway, Unit...",03:00:00,2023-08-09
6,51.544210,-0.175269,3166,50,"Camden Kerbside, United Kingdom",03:00:00,2023-08-09
89,51.579656,-3.766465,8063,46,"Port Talbot Prince Street 2, United Kingdom",04:00:00,2023-08-09